  /* reset default browser margins and paddings */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* body styling for font and background */
  body {
    font-family: 'Arial', sans-serif;
    /* light gray background for contrast */
    background-color: #f0f2f5;
  }

  /* add spacing between containers */
  div {
    margin-bottom: 30px;
  }

  /* styling for main container */
  div#wrtMainContainer {
    padding: 20px;
    text-align: center;
    background-color: #5C84A3;
    overflow-x: auto;
  }

  /* styling for header */
  h1 {
    color: white;
  }

  /* styling for paragraph */
  p {
    color: white;
    margin-bottom: 30px;
  }

  /* styling for recipe label */
  label#wrtRecipeLabel {
    font-size: 16px;
    font-weight: bold;
    color: white;
  }

  /* styling for tables */
  table {
    /* table width relative to the viewport */
    width: 100%;
    /* remove default spacing between cells */
    border-collapse: collapse;
    overflow: hidden;
    /* smooth rounded corners for the table */
    border-radius: 10px;
    /* white background for table content */
    background-color: #fff;
  }

  /* styling for table headers */
  tbody th {
    padding: 15px;
    position: relative;
    /* prevent text selection on double-click */
    user-select: none;
    /* center-align text within cells */
    text-align: left;
  }

  /* styling for table rows */
  tbody tr {
    /* smooth transition for hover effect */
    transition: background-color 0.3s ease;
  }

  /* alternate row background color for better readability */
  tbody tr:nth-child(even) {
    /* light gray for even rows */
    background-color: #f1f2f6;
  }

  /* hover effect for table rows */
  tbody tr:hover {
    /* slightly darker gray on hover */
    background-color: #dcdde1;
  }

  /* styling for table data cells */
  td {
    padding: 15px;
    /* center-align text within cells */
    text-align: left;
  }

  /* styling for buttons */
  button {
    /* bold text */
    font-weight: bold;
  }

  /* style the button that is used to open and close the collapsible content */
  .wrtCollapseButtonClass {
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    /* rounded corners for the table */
    border-radius: 10px;
  }

  .wrtCollapseButtonClass:after {
    /* unicode character for "plus" sign (+) */
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  /* style the button that is used to open and close the collapsible content */
  .wrtCollapseButtonClass.wrtGHConcentrateButtonClass {
    background-color: #79467D;
  }

  /* add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .wrtCollapseButtonClass.wrtGHConcentrateButtonClass:hover {
    background-color: #9F5CA3;
  }

  /* style the button that is used to open and close the collapsible content */
  .wrtCollapseButtonClass.wrtKHConcentrateButtonClass {
    background-color: #7D5E46;
  }

  /* add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .wrtCollapseButtonClass.wrtKHConcentrateButtonClass:hover {
    background-color: #A37B5C;
  }

  .active:after {
    /* unicode character for "minus" sign (-) */
    content: "\2212";
  }

  /* style the collapsible content. Note: hidden by default */
  .wrtCollapsibleContentClass {
    /* table width relative to the viewport */
    width: 95%;
    /* center the table horizontally */
    margin: 0px auto;
    padding: 18x;
    /* remove default spacing between cells */
    border-collapse: collapse;
    max-height: 0;
    overflow: hidden;
    /* rounded corners for the table */
    border-radius: 10px;
    transition: max-height 0.2s ease-out;
    background-color: #fff;
  }

  /* styling for the table header */
  .wrtGHConcentrateTableClass th {
    /* dark blue background for header */
    background-color: #9F5CA3;
    /* white text for contrast */
    color: #fff;
  }

  /* styling for the table header */
  .wrtKHConcentrateTableClass th {
    /* dark blue background for header */
    background-color: #A37B5C;
    /* white text for contrast */
    color: #fff;
  }

  /* styling for the table header */
  .wrtMixtureTableClass th {
    /* dark blue background for header */
    background-color: #60A35C;
    /* white text for contrast */
    color: #fff;
  }

  /* styling for numeric input elements */
  input[type=number] {
    text-align: left;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  /* styling for numeric input element when focused */
  input[type=number]:focus {
    border: 1px solid #555;
  }

  /* spin buttons modified */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    opacity: 1 !important;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: blue !important;
    border: 2.5px solid red !important;
  }

  /* styling for output elements */
  output {
    text-align: left;
  }

  /* styling for combo-box */
  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    text-align: left;
  }

  /* hover effect for combo-box */
  select:hover {
    background-color: #e0e0e0;
  }

  /* styling for combo-box when focused */
  select:focus {
    border-color: #214974;
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
  }

  button#wrtExportButton {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
  }

  button#wrtExportButton:hover {
    background-color: brown;
    color: white;
  }

  /* keyframe animation for row fade-in effect */
  @keyframes fadeIn {
    from {
        /* start with invisible rows */
        opacity: 0;
        /* slightly shifted down */
        transform: translateY(10px);
    }
    to {
        /* fully visible */
        opacity: 1;
        /* original position */
        transform: translateY(0);
    }
  }